-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito_jubla and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_jubla.

- title "Mitgliederzahlen #{@year} bearbeiten"

= form_for(@group, url: group_member_counts_path(@group), method: :put) do |f|
  = hidden_field_tag(:year, @year)
  = form_buttons(f, submit_label: nil, cancel_url: census_flock_group_path(@group))

  = render layout: 'member_counts/table_header',
           locals: { before_columns: %w(Jahrgang)} do
    - @member_counts.each do |count|
      = fields_for 'member_count[]', count, builder: StandardFormBuilder do |f|
        %tr
          %td= count.born_in
          %td= f.input_field :leader_f, class: 'span1'
          %td= f.input_field :leader_m, class: 'span1'
          %td= f.input_field :child_f, class: 'span1'
          %td= f.input_field :child_m, class: 'span1'

  = form_buttons(f, submit_label: nil, cancel_url: census_flock_group_path(@group))
