-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito_jubla and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_jubla.

= field_set_tag do
  = f.labeled_input_fields(:name_mother, :name_father)
  = f.labeled_input_field(:canton, help_inline: t('.help_canton'))

= field_set_tag do
  = f.labeled_input_fields(:nationality, :profession, :bank_account)

= field_set_tag do
  = f.labeled_input_fields(:insurance_company, :insurance_number)

- if entry.alumnus_only?
  = field_set_tag do
    %p= t('.info_alumnus_contactable')
    = f.labeled_input_fields(:contactable_by_federation, :contactable_by_state, :contactable_by_region, :contactable_by_flock)
