-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito_jubla and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_jubla.

= field_set_tag do
  - entry.modifiable_attributes(:kind).each do |attr|
    = f.labeled(attr) do
      - entry.klass::AVAILABLE_KINDS.each do |kind|
        = f.inline_radio_button(:kind, kind, kind)

  - entry.modifiable_attributes(:unsexed).each do |attr|
    = f.labeled(attr, 'Gruppenstunde') do
      = f.inline_radio_button(:unsexed, true, 'Gemischt')
      = f.inline_radio_button(:unsexed, false, 'Geschlechtergetrennt')

  - entry.modifiable_attributes(:parish, :founding_year, :bank_account, :jubla_insurance, :jubla_full_coverage, :clairongarde).each do |attr|
    = f.labeled_input_field attr

= field_set_tag do
  - entry.modifiable_attributes(:coach_id, :advisor_id).each do |attr|
    = f.labeled_belongs_to_field attr, list: {coach_id: @coaches, advisor_id: @advisors}[attr.to_sym]
