-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito_jubla and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_jubla.

= render layout: 'member_counts/table_header', 
         locals: { before_columns: [''], after_columns: ['Total', '']} do
  - @sub_groups.each do |g|
    %tr
      %td= link_to(g.to_s, census_evaluation_path(g, year: @year))
      %td.right= count_field(g, :leader_f)
      %td.right= count_field(g, :leader_m)
      %td.right= count_field(g, :child_f)
      %td.right= count_field(g, :child_m)
      %td.right= count_field(g, :total)
      %td= render 'total_actions', group: g
  = render 'total_row'
